.button-search {
  border-radius: 2px;
  padding: 5px 25px;
  background-color: #f9501d;
  color: white;
}

.button-update {
  border-radius: 2px;
  padding: 5px 25px;
  background-color: white;
  color: #f9501d;
}
